body {
  background-color: #F6F3E1;
  font-family: "Circular Std Book";
  color: #1B2D45;
  box-sizing: border-box;
  font-size: calc(16px + 0.2vw);
  line-height: calc(1.5em + 0.5vw);
  margin: 0;
  letter-spacing: .06em;
  font-family: 'Quattrocento', serif;
}

h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: .15em;
  text-transform: uppercase;
  line-height: calc(1.2em + 2vw);
  font-weight: 800;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #20E9B7;
  opacity:1;
}

a:hover {
  opacity:0.5;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  width: 100vw;
  overflow: hidden;
}

header {
  background-color: #1B2D45;
}

.header {
  background-color: #1B2D45;
  height: 60px;
}

.nav-container {
  width: 90vw;
  height: 8vh;
}

.hero-container {
  width: 100vw;
  height: 60vh;
}

.hero {
  position: relative;
}

.circle, .logo, .triangle {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
}

.circle:hover {
  background-size: contain;
}

.big-green {
  background-image: url("images/circles/big-green.svg");
  background-size: contain;
  width: 70px;
  height: 100px;
  top: 4vw;
  left: 3vw;
}

.small-green {
  background-image: url("images/circles/small-green.svg");
  background-size: contain;
  width: 35px;
  height: 18px;
  top: 19vw;
  left: 63vw;
}

.big-big-green {
  background-image: url("images/circles/big-big-green.svg");
  background-size: contain;
  width: 88px;
  height: 100px;
  top: 0;
  left: 74vw;
}

.logo {
  background-image: url("images/logo-2.svg");
  background-size: contain;
  width: 316px;
  height: 300px;
  top: 12vw;
  left: 8vw;
}

.big-big-blue {
  background-image: url("images/circles/big-big-blue.svg");
  background-size: cover;
  width: 96px;
  height: 100px;
  top: 84vw;
  left: 6vw;
}

.small-blue {
  background-image: url("images/circles/small-blue.svg");
  background-size: contain;
  width: 23px;
  height: 100px;
  top: 74vw;
  left: 29vw;
}

.medium-green {
  background-image: url("images/circles/medium-green.svg");
  background-size: contain;
  width: 50px;
  height: 100px;
  top: 76vw;
  left: 54vw;
}

.medium-blue {
  background-image: url("images/circles/medium-blue.svg");
  background-size: contain;
  width: 60px;
  height: 100px;
  top: 69vw;
  left: 80vw;
}

@media only screen and (min-width: 25em) and (orientation: portrait) { 
  .hero-container {
    height: 60vh;
  }

  .big-green {
    left: 4vw;
    top: 8vw;
  }

  .small-green {
    top: 23vw;
    left: 59vw;
  }

  .big-big-green {
    left: 72vw;
  }

  .logo {
    width: 83vw;
    top: 18vw;
    left: 11vw;
  }

  .big-big-blue {
    top: 87vw;
    left: 8vw;
  }

  .small-blue {
    top: 76vw;
    left: 30vw;
  }

  .medium-green {
    top: 72vw;
    left: 53vw;
  }

  .medium-blue {
    top: 86vw;
    left: 78vw;
  }
}

@media only screen and (min-width: 25em) and (orientation: landscape) { 
   .hero-container {
    height: 90vh;
  }

  .big-green {
    left: 3vw;
    top: 3vw;
  }

  .small-green {
    top: 13vw;
    left: 83vw;
  }

  .big-big-green {
    left: 85vw;
  }

  .logo {
    width: 66vw;
    top: 2vw;
    left: 19vw;
  }

  .big-big-blue {
    top: 34vw;
    left: 5vw;
  }

  .small-blue {
    top: 26vw;
    left: 17vw;
  }

  .medium-green {
    top: 37vw;
    left: 53vw;
  }

  .medium-blue {
    top: 31vw;
    left: 78vw;
  }
}

@media only screen and (min-width: 47em) and (orientation: portrait) {
  .hero-container {
    height: 52vh;
  }

  .big-green {
    left: 3vw;
    top: 1vw
  }

  .small-green {
    top: 13vw;
    left: 78vw;
  }

  .big-big-green {
    left: 82vw;
  }

  .logo {
    width: 71vw;
    top: 6vw;
    left: 16vw;
  }

  .big-big-blue {
    top: 42vw;
  }

  .small-blue {
    top: 34vw;
    left: 18vw;
  }

  .medium-green {
    top: 48vw;
    left: 64vw;
  }

  .medium-blue {
    top: 47vw;
  }
}

@media only screen and (min-width: 50em) and (orientation: landscape) {
   .hero-container {
    height: 100vh;
  }
}

@media only screen and (min-width: 64em) and (orientation: portrait) {
  .hero-container {
    height: 64vh;
  }

  .logo {
    top: 16vw;
  }

  .big-green {
    background-size: cover; 
    width: 12vw;
    left: 4vw;
  }

  .big-big-green {
    background-size: cover;
    width: 13vw;
  }

  .big-big-blue {
    width: 16vw;
    height: 15vh;
    top: 54vw;
  }

  .small-blue {
    top: 48vw;
    left: 24vw;
  }

  .medium-green {
    top: 53vw;
    left: 55vw;
    width: 11vw;
  }

  .medium-blue {
    width: 10vw;
    top: 47vw;
  }

}

@media only screen and (min-width: 64em) and (orientation: landscape) {
  .hero-container {
    height: 100vh;
  }

  .logo {
    top: 12vw;
  }

  .big-green {
    background-size: cover; 
    width: 12vw;
    height: 17vh;
    left: 4vw;
  }

  .big-big-green {
    background-size: cover;
    width: 13vw;
    height: 15vh;
  }

  .big-big-blue {
    width: 16vw;
    height: 17vh;
    top: 44vw;
  }

  .small-blue {
    top: 42vw;
    left: 22vw;
  }

  .medium-green {
    top: 48vw;
    left: 55vw;
  }

  .medium-blue {
    top: 40vw;
  }
}

@media only screen and (min-width: 83em) and (orientation: landscape) {
 .hero-container {
    height: 83vh;
  }
}

@media only screen and (min-width: 90em) {
  .hero-container {
    height: 90vh;
  }

  .big-big-green {
    height: 19vh;
  }

  .big-big-blue {
    height: 25vh;
    top: 34vw;
  }

  .small-blue {
    top: 33vw;   
  }

  .medium-green {
    top: 38vw;
    left: 55vw;
  }
}

@media only screen and (min-width: 110em) {
  .hero-container {
    height: 90vh;
  }

  .big-green {
    height: 24vh;
  }

  .big-big-blue {
    height: 27vh;
    top: 28vw;
  }
  
  .small-blue {
    top: 27vw;
  }
  .logo {
    top: 9vw;
  }

  .medium-green {
    width: 5vw;
    top: 36vw;
  }

  .medium-blue {
    top: 33vw;
    width: 6vw;
  }

}

.statement {
  width: 90vw;
  margin: auto;
  margin-top: 2em;
  text-align: center;
  padding: 2em 0;
  background-color: #c8c8c83b;
  box-shadow: 1px 11px 21px 0px #88888852;
}

@media only screen and (min-width: 25em) and (orientation: portrait) {
  .statement {
    margin: 2em 1em;
    width: 90vw;
  }
}

@media only screen and (min-width: 47em) and (orientation: portrait) {
  .statement {
    margin: 0 0 0 2em;
  }
}

@media only screen and (min-width: 64em) and (orientation: portrait) {
  .statement {
    margin: 2em 0 0 3em;
  }
}

@media only screen and (min-width: 90em) {
  .statement {
    width: 70vw;
  }
}

@media only screen and (min-width: 120em) {
  .statement {
    width: 50vw;
  }
}

.statement p {
  padding: 0 1em;
}

.title {
  text-align: center;
}

.full-container {
  width: 100vw; 
  margin: auto;
  overflow: hidden;
}

.full-container .values {
  background-color: #f5f4ef;
}

.full-container.featured {
  background-color: #5390F4;
  padding-bottom: 1em;
  margin-bottom: 2em;
}

.line-up-container {
  margin-bottom: calc(1em + 5vh);
  margin: auto;
}

@media only screen and (min-width: 82.5em) {
  .line-up-container.news {
    width: 80vw;
    margin: auto;
  }
}

@media only screen and (min-width: 25em) {
  .line-up-container {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
  }
} 

@media only screen and (min-width: 25em) and (orientation: portrait) {
  .line-up-container {
    grid-template-columns: unset;
  }
} 

@media only screen and (min-width: 47em) and (orientation: portrait) {
  .line-up-container {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

.women-container {
  margin-top: 2em;
}

@media only screen and (min-width: 82.5em) {
  .women-container, .summit-container {
    width: 90vw;
    margin: auto;
  }
}

.news-container {
  background-color: #00B692;
}

/* values */
.values .title {
  margin-top: 4em;
}

.values .title h1 {
  margin-bottom: 0.4em;
}

.cards, .news {
  padding: 0.5em 2em;
}

.card {
  display: flex;
  flex-direction: column;
  padding: .5em;
}

.value-item {
  border: 3px solid #20E9B7;
  border-radius: 30px;
  box-shadow: 5px 10px #888888;
  margin-bottom: 3em;
}

.item-title {
  padding: 0 0 0 1em;
}

.item-title {
  margin: 1em 0 .5em 0;
}

.article {
  text-transform: none;
  line-height: 1.6;
  margin: 0.5em 0;
  text-decoration: underline;
  color: #1B2D45;
}

.news-item-title {
  font-weight: 600;
} 

.item-description {
  padding: .5em .8em;
}

.item-underline {
  width: 95%;
  height: 6px;
  background-color: #5390F4;
  margin-left: .5em;
}

@media only screen and (min-width: 25em)  {
  .line-up-container {
    grid-gap: 1rem;
  }

  .item-title {
    padding: 0 0 0 .3em;
  }

  .cards {
    padding: 1em;
  }
}

@media only screen and (min-width: 25em) and (orientation: portrait) {
  .cards {
    padding: 2em;
  }
}

@media only screen and (min-width: 62em) {
  .line-up-container {
    grid-gap: 3rem;
  }

   .cards {
    padding: 2em;
  }
}

@media only screen and (min-width: 82.5em) {
  .full-container.values {
    width: 80vw;
  }
}


/* lauching interview */
.span-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.intro {
  grid-column: 1 / 13;
}

.intro-container {
  margin: 1em;
}

.intro-box h1 {
  margin-bottom: .5em;
}

.intro-box h2 {
  text-align: center;
  margin-bottom: 0;
  padding-right: 1em;
}

.intro-box p {
  text-align: center;
  margin-top: 0;
  padding-right: 1em;
}

.portrait-container {
  margin-bottom: 2em;
}

.portrait {
  background-image: url("images/neus-portas.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 168px;
}

.video {
  grid-column: 1 / 13;
}

.embed {
  background-color:#1b2d45;
  margin: auto;
  width: 90%;
  height: 300px;
  border: 2px solid #04846b;
}

.player-header {
  width: 100%;
  height: 5vh;
  background-color: #00B692;
}

.window-circles {
  position: relative
}

.window-circle {
  position: absolute;
  background-color: #F6F3E1;
  width: 4%;
  height: 1.6vh;
  border-radius: 50%;
  top: .8em;
}

.window-circle.left {
  left: 3em;
}

.window-circle.right {
  left: 1em;
}

.soon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

.soon h3 {
  text-align: center;
  color: #f5f4ef
}

.youtube {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 1em;
}

.youtube-icon {
  background-image: url("images/youtube.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 14vw;
  height: 17vh;
  
}

.bio {
  grid-column: 1 / 12;
  padding: 1em 2em;
  width: 80vw;
}

.quote {
  grid-column: 1 / 13;
  width: 100%;
}

.quote-container {
  margin: 0 1em 3em 2em;
}

.quote-text {
  display: flex;
  flex-flow: row;
}

.legendary {
  background-image: url("images/marie-curie.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  mix-blend-mode: overlay;
  height: 170px;
  width: 900px;
  border-radius: 50%;
}

@media only screen and (min-width: 25em) {
  .intro-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  
  .intro-box {
    grid-column: 1 / 1;
    grid-row: 1 / 3;
  }

  .portrait-container {
    grid-column: 2 / 2;
    grid-row: 2 / 3;
  }

  .intro {
    grid-column: 4 /11;
  }

  .video {
    grid-column: 1 / 13;
    
  }

  .embed {
    height: 390px;
  }

  .player-header {
    height: 8vh;
  }

  .window-circle {
    width: 2%;
    height: 3.6vh;
    top: .5em;
  }

  .soon {
    margin-top: 2em;
  }

  .soon h3 {
    font-size: 2.6em;
  }

  .bio {
    grid-column: 1 / span 4;
    width: 36vw;
    padding: 1em 1em 0em 3em;
    margin-top: 2em;
  }

  .quote {
    grid-column: 6 / span 9; 
  }

   .quote-text {
    font-size: calc(26px + 0.2vw);
    line-height: calc(1.5em + 0.5vw);
  }

  .quote-container {
    margin: 3em 1em 3em 2em;
  }
}

@media only screen and (min-width: 25em) and (orientation: portrait) {
  .intro {
    grid-column: 2 / 12;
  }

  .intro-box {
    grid-column: 1 / 1;
    grid-row: 1 / 3;
  }

  .portrait-container {
    grid-column: 1 / 2;
    grid-row: 3 / 3;
  }

  .bio {
    grid-column: 1 / 12;
    width: 80vw;
    margin-top: 0;
  }

  .quote {
    grid-column: 1 / span 12;
  }

  .player-header {
    height: 6vh;
  }

  .window-circle {
    width: 4%;
    height: 2vh;
    top: 1em;
  }

  .soon {
    margin-top: 3em;
  }

  .soon h3 {
    font-size: 2.2em;
  }
}

@media only screen and (min-width: 25em) and (orientation: landscape) {
   .portrait {
    height: 94px;
  }

  .quote-container {
    margin: 3em 1em 3em 2em;
  }
}

@media only screen and (min-width: 47em) and (orientation: portrait) {
  .intro {
    grid-column: 4 / 11;
  }

  .intro-box {
    grid-column: 1 / 1;
    grid-row: 1 / 3;
  }

  .portrait-container {
    grid-column:  2 / 2;
    grid-row: 2 / 2;
  }

  .portrait {
    height: 94px;
  }

  .player-header {
    height: 4vh;
  }

  .window-circle {
    width: 2%;
    height: 1.3vh;
  }

  .soon {
    margin-top: 1em;
  }
}

@media only screen and (min-width: 62em) {
  .portrait-container {
    grid-row: 1 / 2;
    margin-top: 2em;
  }

  .intro-container {
    grid-template-rows: repeat(1, 1fr);
    margin-top: 2em;
  }
  
  .intro {
    grid-column: 4 / 11;
  }

  .intro-box {
    text-align: right;
  }

  .intro-box h1, .intro-box h2, .intro-box p {
    text-align: right;
    padding-right: 0;
  }

  .portrait {
    height: 192px;
  }

  .video {
    grid-column: 1 / 13;
    height: 390px;
  }

  .player-header {
    height: 5vh;
  }

  .window-circle {
    width: 2%;
    height: 2.4vh;
  }

  .youtube-icon {
    width: 8vw;
    height: 28vh;
  }

  .soon {
    margin-top: 3em;
  }

  .soon h3 {
    font-size: 2em;
  }

  .bio {
    grid-column: 1 / span 5;
  }

  .bio p {
    margin: 0;
  }

  .bio p:first-child {
    margin-bottom: 2em;
  }

  .quote {
    grid-column: 6 / span 8; 
  }

  .quote-container {
    margin: 3em 3em 3em 2em;;
  }

  .quote-text p {
    margin: 0 0 0 2em;
  }

}

@media only screen and (min-width: 62em) and (orientation: landscape) {
  .portrait {
      margin-left: 2em;
  }

  .quote-container {
    margin: 3em 0;
  }

  .legendary {
    height: 230px;
    width: 900px;
  }
}

@media only screen and (min-width: 62em) and (orientation: portrait) {
  .bio {
    grid-column: 1 / span 4;
    width: 40vw;
  }

  .quote {
    grid-column: 6 / span 12;;
  }

  .legendary {
    background-size: contain;
    height: 250px;
    width: 1900px;
    border-radius: 26%; 
  }
  .player-header {
    height: 4vh;
  }
  .soon {
    margin-top: 1em;
  }

  .youtube-icon {
    height: 18vh;
  }

  .window-circle {
    height: 1.4vh;
  }
}

@media only screen and (min-width: 82.5em) {
  .intro {
    grid-column: 3 / 10;
  }

  .video {
    grid-column: 1 / 7;
  }

  .player-header {
    height: 3vh;
  }

  .window-circle {
    width: 3%;
    height: 1.5vh;
  }

  .soon {
    margin-top: 2em;
  }

  .youtube-icon {
    width: 8vw;
    height: 10vh;
  }

  .bio {
    grid-column: 7 / span 5;
    width: 34vw;
    padding: 0em 1em 0em 3em;
    margin-top: 0;
  }

  .quote {
    grid-column: 2 / span 10; 
  }
}

.summit-title {
  grid-column: 2 / 12;
}

.summit-img-container {
  grid-column: 1 /13;
}

.summit-img {
  background-image: url("images/wtm-summit-07.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 100%;
  height: 50vh;
}

.description {
  grid-column: 1 / 13;
  padding: 1em 2em;
  margin-bottom: 3em;
}

.description p {
  margin-bottom: 1em;
}

.button {
  background-color: #5390F4;
  display: inline-block;
  border: 1px solid #5390F4;
  padding: 14px 24px;
  border-radius: 30px;
}

@media only screen and (min-width: 25em) {
  .span-container {
    grid-auto-flow: dense;
  }
  
  .summit-title {
    grid-column: 2 / 11;
  }

  .summit-img-container {
    grid-column: span 5 / 13;
    width: 90%;
    padding-bottom: 5em;
  }

  .summit-img {
    height: 100%;
    background-size: cover;
    border-radius: 50%;
  }

  .description {
    grid-column: 1 / span 6;
    margin-left: 2em;
  }

  .description p {
    margin: 0 0 1em 0;
  }
}

@media only screen and (min-width: 25em) and (orientation: portrait) {
  .summit-title {
    grid-column: 2 / 12;
  } 

  .summit-img-container {
    grid-column: 1 / 13;
    height: 50vh;
    padding-bottom: 0;
    
  }

  .summit-img {
    background-size: contain;
    border-radius: 0;
    width: 100vw;
  }

  .description {
    grid-column: 1 / 12;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
  }
}

@media only screen and (min-width: 47em) and (orientation: portrait) {
  .summit-img-container {
    grid-column: span 6 / 13;
  }

   .description {
    width: 46vw;
    grid-column: 1 / span 4;
  }

    .summit-img {
    background-size: cover;
    border-radius: 50%;
    width: 46vw;
    background-position: left;
  }

}

@media only screen and (min-width: 62em) and (orientation: portrait) {
  .summit-img-container {
    grid-column: span 6 / 13;
  }

  .summit-img-container {
    height: 32vh;
  }
  
  .summit-img {
    background-size: cover;
    margin-left: 2em;
    height: 89%;
    width: 43vw;
  }
  
  .description {
    margin-left: 1em;
  }

  .description p {
    padding-right: 1em;
  }
}

@media only screen and (min-width: 62em) and (orientation: landscape) {
  .summit-img {
    margin-left: 3em;
    height: 100%;
  }

  .description {
    width: 46vw;
    grid-column: 1 / span 4;
  }

  .description p {
    margin: 0 0 2em 0;
  }

  .summit-img-container {
    grid-column: span 5 / 12; 
  }
}

@media only screen and (min-width: 80.2em) {
  .summit-container .span-container {
    margin-bottom: 2em;
  }
  
  .summit-title {
    grid-column: 2 / 9;
    margin-bottom: 1em;
  }

  .summit-img-container{
    grid-column: span 4 / 12;
  }

  .summit-img {
    background-size: cover;
    margin-left: 0;
  }

  .description {
    grid-column: 1 / 7;
    width: 36vw;
  }
}

/* news */
.news-container .title {
  padding-top: 2em;
}

.media {
  margin: 1em 0 0 0;
  font-weight: 600;
}

.date {
  margin: .8em 0 2em 0;
}

.cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 25vh;
  max-height: 100%;
  border-radius: 30px;
}

.first {
  background-image: url("images/vplaza1.jpg");
}

.second {
 background-image: url("images/referente.jpg");
}

.third {
 background-image: url("images/vplaza-2.jpg");
}

@media only screen and (min-width: 25em) and (orientation: portrait) {
  .news-container .title {
    padding: 2em 2em 0 2em;
  }
}

@media only screen and (min-width: 25em) and (orientation: landscape) {
  .cover {
    height: 40vh;
  }
}

@media only screen and (min-width: 47em) and (orientation: portrait) {
  .cover {
    height: 16vh;
  }
}

@media only screen and (min-width: 62em) and (orientation: portrait) {
  .cover {
    background-size: contain;
    height: 13vh;
  }
}

@media only screen and (min-width: 62em) and (orientation: landscape) {
  .cover {
    background-size: contain;
    height: 25vh;
  }
}

@media only screen and (min-width: 80.2em) {
  .cover {
    background-size: cover;
  }
}

.footer-container {
  place-items: center;
  width: 90vw;
  padding-top: 2em;
}

.sm-logo {
  background-image: url("images/logo-social-media.svg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  height: 15vh;
}

.about, .organizers, .follow  {
  padding: 0 1em;
}

.about p {
  font-size: calc(14px + 0.2vw);;
}

.email {
  margin: .5em 0;
}

.follow {

  margin-bottom: 3em;
}

.organizers h4, .follow h4 {
  margin-bottom: 0;
}

@media only screen and (min-width: 25em) and (orientation: portrait) {
  .footer-container {
    place-items: unset;
  }
}

@media only screen and (min-width: 64em) and (orientation: landscape) {
  .email {
    margin: .5em 0 2em 0
  }
}

@media only screen and (min-width: 80.2em) {
  .footer-container {
    width: 100vh;
    place-items: center;
  }
}


@media only screen and (min-width: 90em) {
  .footer-container {
    width: 80vw;
    padding-top: 2em;
  }
}

/* -------------------- Us page ---------------- */
.us-cover .title {
  margin-top: 2em;
}

.wtm19-hello {
  background-image: url("images/us/todas.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  mix-blend-mode: multiply;
  width: 100%;
  height: 45vh;
  margin-bottom: 2em;
  z-index: 2;
}

.triangles {
  z-index: -1;
}

.blue {
  background-image: url("images/us/triangle-blue.svg");
  background-size: contain;
  width: 11vw;
  height: 9vh;
  top: 25vw;
  left: 4vw;
}

.green {
  background-image: url("images/us/triangle-green.svg");
  background-size: contain;
  width: 9vw;
  height: 19vh;
  top: 5vw;
  left: 82vw;
}

.vision {
  width: 80vw;
  margin: auto;
  margin-bottom: 1em;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: .15em;
  line-height: calc(1.2em + 2vw);
  text-align: center;
  
}

.mision {
  color: #5390F4;
  margin: .5em 0;
  font-size: 32px;
  line-height: calc(1.2em + 2vw);
  display: inline-block;
  font-weight: 800;
}

.us-profiles {
  display: grid;
  place-items: center;
}

.profiles {
  mix-blend-mode: multiply;
}

.profiles h4 {
  margin: 1em 0 0 0;
  color: #5390F4;
  font-weight: 600;
}

.profiles p {
  /* margin: 0 0 1.5em 0 ; */
  margin: 0;
}

.profile, .profile-info {
  width: 75vw;
}

.profile {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 35vh;
  border-radius: 6%;
}

.profile-info {
  text-align: center;
}

.social {
  display: inline-block;
  margin: 0 0 2.5em 1em;
}

.social .twitter, .social .linkedin {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  margin-top: .5em;
}

.twitter {
  background-image: url("images/twitter.png");
  margin-right: .5em;

}

.linkedin {
  background-image: url("images/linkedin.png");
  margin-left: .5em;
}

@media only screen and (min-width: 25em) and (orientation: landscape) {
  .wtm19-hello {
    height: 100vh;
  }

  .blue {
    height: 18vh;
    top: 17vw;
    left: 11vw;
  }

  .vision {
    width: 70vw;
    padding: 1em 0;
    margin: auto;
  }

  .us-profiles {
    grid-template-columns: repeat(2, 1fr);
  }

  .profiles {
    height: 100vh;
  }

  .profile, .profile-info {
     width: 40vw;
  }

  .profile {
    background-size: contain;
    height: 60vh;
    border-radius: 26%;
  }
}

@media only screen and (min-width: 47em) and (orientation: portrait) {
  .full-container .us-profiles {
    width: 90vw;
  }

  .blue {
    top: 16vw;
  }
  
  .profile {
    width: 28vw;
    height: 15vh;
  }

   .profile-info {
    width: 29vw;
  }

}

@media only screen and (min-width: 64em) and (orientation: landscape) {
  .wtm19-hello {
    width: 100%;
    height: 75vh;
    z-index: 2;
  }

  .blue {
    width: 11vw;
    height: 21vh;
    top: 5vw;
    left: 4vw;
  }
  
  .green {
    width: 9vw;
    height: 19vh;
    top: 5vw;
    left: 82vw;
  }

  .profiles {
    height: 50vh;
  }

  .profile {
    background-size: cover;
    width: 40vw;
    height: 35vh;
    border-radius: 12%;
  }
}

@media only screen and (min-width: 64em) and (orientation: portrait) {
  .profile {
    background-size: contain;
    width: 26vw;
    border-radius: 20%;
  }

  .profile-info, .profile {
    width: 26vw;
  }

  .vision {
    width: 60vw;
  }

  .mision {
    margin: 1em 0;
  }
}

@media only screen and (min-width: 83em) and (orientation: landscape) {
  .vision {
    width: 50vw;
  }
  .profile {
    background-size: contain;
  }

  .profile {
    border-radius: 28%;
  }
}

@media only screen and (min-width: 90em) {
   .wtm19-hello {
    background-size: contain;
  }
  
  .vision {
    width: 50vw;
    padding: 0;
  }

  .mision {
    margin: .2em 0 1.2em 0
  }

  .profiles {
    height: 53vh;;
  }

  .profiles h4 {
    margin: 0;
  }

  .profile, .profile-info {
    width: 30vw;
  }

  .profile {
    background-size: cover;
    border-radius: 6%;
  }

  .us-profiles {
     grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 105em) {
  .full-container .us-profiles {
    width: 80vw;
    margin-bottom: 4em;
  }

  .us-profiles {
     grid-template-columns: repeat(4, 1fr);
  }

  .profile, .profile-info {
    width: 17vw;
  }

}

.roberta {
  background-image: url("images/us/roberta-lo-porto-wtm-17.jpg");
}

.mercedes {
   background-image: url("images/us/mercedes.png");
}

.sara {
   background-image: url("images/us/Sara-Valencia.jpg");
}

.ana {
   background-image: url("images/us/ana-carrau.jpeg");
}

.aitziber {
  background-image: url("images/us/Aitziber-Irisarri-wtm18.jpg");
}

.karina {
  background-image: url("images/us/karina.jpg");
}

.silvia {
  background-image: url("images/us/silvia-bagnale-p-500.jpeg");
}

.alejandra {
  background-image: url("images/us/alejandra.jpeg");
}

/* Menu styles */
#menu {
  position: absolute;
  width: 295px;
  height: 55vh;
  box-shadow: 0 0 10px #575859;
  margin: -50px 0 0 -50px;
  padding: 50px;
  padding-top: 75px;
  background-color: #1B2D45;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  /* transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0); */
}

@media only screen and (min-width: 25em) and (orientation: landscape) {
  #menu {
    height: 71vh;
  }
}

@media only screen and (min-width: 48em) and (orientation: landscape) {
  #menu {
    height: 100vh;
  }
}

@media only screen and (min-width: 90em) {
  #menu {
    height: 87vh;
  }
}

#menu li {
  padding: 10px 0;
  transition-delay: 1s;
}

.wtm-logo {
  height: 80px;
}

#menuToggle {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25px;
  left: 25px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: flex; 
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  width: 26px;
  height: 26px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

#menuToggle span {
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #5390F4;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

@media only screen and (min-width: 90em) {
 #menuToggle span {
    width: 36px;
    height: 3px;
 }
}

/* Hamburguer icon and animation */
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #5390F4;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
